body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 3.5rem;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 700;
}

.galaxy-bg {
    background: black;
    // background-image: url("https://media.tenor.com/PA5BcamPG5QAAAAC/love-galaxy.gif");
    // background-size: cover;
    // background-repeat: no-repeat;
}

nav {
    padding-top: 3.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
}

a {
    color: white;

    &:hover {
        // text-decoration: none;
        color: white;
    }
}

.logo {
    max-width: 5rem;
}

.projects {
    a {
        color: black;

        &:hover {
            // text-decoration: none;
            color: black;
        }
    }

    footer {
        color: black;

        & img {
            filter: unset;

        }
    }

}

.contact {
    color: white;
}

// Content

.content {
    flex: 1;
}

.coming-soon {
    color: white;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    p {
        font-size: 5rem;
    }
}

@keyframes example {
    0% {
        color: rgb(246, 123, 123);
    }

    20% {
        color: rgb(244, 181, 64);
    }

    40% {
        color: rgb(255, 255, 182);
    }

    60% {
        color: rgb(118, 198, 118);
    }

    80% {
        color: lightblue;
    }

    100% {
        color: rgb(115, 83, 217);
    }
}


/* Resume */

.resume-image {
    max-width: 70%;
    border: 10px solid #A1AA82;
}

/* Footer */

footer {
    padding-bottom: 3.5rem;
    color: white;

    & img {
        filter: brightness(0) invert(1);

    }
}

.tiny {
    max-width: 10%;
}